
.contactContainer{
    transform: skewY(0);
    background-color: #272727;
    /* height: 50vh; */
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contactContainer h2{
    padding: 6rem;
    font-size: 40px;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: white;
}
.contactUs{
    padding: 100px;
    width: 100%;
}
.contactUs input{
    color: black;
}
.footer{
    background-color: black;
    padding: 2rem;
    width: 100%;
    text-align: left;
}
.contactContainerContent{
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    justify-content: center;
}
.contactContainerDetails{
    width: 100%;
    /* background-color: red; */
    text-align: left;

}
.contactContainerDetails h3{
    font-weight: 900;
}
.contactContainerForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contactContainerForm input{
    width: 100%;
    padding: 1rem;
}
.contactContainerForm textarea{
    width: 100%;
    color: black;
    padding: 1rem;
}
.contactContainerForm button{
    font-weight: 900;
    background-color: red;
    padding: 1rem;
    border: 0.1rem solid red;
}
.contactContainerForm button:hover{
    background-color: white;
    transition: 0.1s;
    color: red;
}
.contactSocialMedia{
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    
}
.contactSocialMedia img{
    height: 2.5rem;
    width: 2.5rem;
}

.contactUs form > textarea{
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .contactContainerContent{
        gap: 2rem;
        flex-direction: column;
    }
    .contactContainer h2{
        font-size: 35px;
        padding: 0;
        margin-top: 10rem;
        text-align: left;
        margin-bottom: 1rem;
    }
    .contactContainerDetails h3{
        font-size: 1rem;
    }
    .contactContainerDetails h4{
        font-size: 1rem;
    }
    .contactContainerForm{
        font-size: 1rem;
    }

}

.field{
    margin-top: 2vh;
    display: flex;
    width: 90vw;
    background-color: red;
    align-items: center;
}
.field input{
    outline: none;

}
.field h4{
    width: 40%;
}
.submitField{
    margin-top: 2vw;
}