.goalContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.goalContainer h2{
    padding: 2rem;
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.goalContainer h3{
    padding: 4rem;
    padding-top: 0;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.goalOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.goalTwo{
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .goalContainer{
        align-items: center;
        flex-direction: column-reverse;
    }
    .goalContainer img{

    }
    .goalContainer h2{

    }
    .goalContainer h3{
        width: 100%;
        /* background-color: red; */
        padding: 0;
        padding-bottom: 1rem;
    }

}